<style>
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100&display=swap');
</style>
    .poiret-one-regular {
        font-family: "Poiret One", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "poppins",sans-serif;

}
:root{
    --text-color:#000000;
    --main-color: #a52a34;
}
section{
    padding: 50px 10%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: #f0ffff;


}
.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);

}
.logo span{
    color: var(--main-color);
}
.navbar{
    position:end;
    display:flex;
    justify-content: space-between;

}
.navbar a{
    font-size: 1.2rem;
    padding: 10px 20px;
    font-weight: 500;
    color: #556b2f;
}
.navbar a:hover{
    color: #a52a34;
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.home{
    width: 100%;
    min-height: 100vh;
    background-image: url(1234.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
.home-text h1{
    font-size: 2.6rem;

}
.home-text p{
    font-size: 0.938rem;
    margin: 0.4rem 0 1.8rem;
}
.home-text span{
    color: var(--main-color);
}
.btn{
    padding: 10px 14px;
    background: #a52a34;
    color: #f0ffff;
    border-radius: 0.3rem;
    font-size: 14px;
}
.btn:hover {
    background: #a52a34;
}
.shop{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 12px;
   gap:1em;
}
.heading{
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #a52a34;
   
   
}
.shop-container{
    
    display:flex ;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    background-color: #f0ffff;
    gap:1rem;
    text-transform: capitalize;
    margin-top: 2rem;
    
}
.box{
    width: 350px;
    position: relative; 
    box-shadow: 1px 2px 2px rgb(0,0,,0,0.1) ;
    border-radius: 44px 4px 4px 4px;
   
}
.box .box-img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 44px 4px 0 0;
   
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.box .box-img img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.price{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.price h3{
 font-size: 1rem;
 font-weight: 600;
}
.box span{
font-size: 1.1rem;
font-weight: 500;
padding-left: 12px;
color: var(--main-color);
}
.stars .bx{
    
    color: var(--main-color);
}
.cart {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.cart span{
    color: #a52a34;
    padding-left: 1px;
    right: 0;
}
.cart p{
    font-style: inherit;
    color: #a52a34;
}
.cart .bx{
   font-size: 20px;
   color: #f0ffff;
   bottom: 0;
   right: 0;
   padding: 7px;
   background: #a52a34;
   border-radius: 4px 0 4px 0;

} 
.cart .bx:hover {
    background-color: var(--text-color);
  }
.about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-template-columns: minmax(100px, auto);
    gap:0.1rem;
    padding: 100px;
    
   
}
.tentang{
    width: 60%;
    height: 50%;
    border-radius: 10px;
    object-fit: contain;
    margin-top: 100px;
}
.tenanf-img{
    padding: 12px;
    width: 60%;
}
.tentang-text span{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #a52a34;
}
.tentang-text h2{
    color: #556b2f;
}
.tentang-text p{
    font-size: 0.983rem;
    margin: 0.5 0 1.4rem;
}
.contact{
    background:#556b2f;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    left: 12px;
    right: 12;
    padding: 50px;
   text-transform: capitalize;
   background-repeat: no-repeat;
gap: 1rem;
}
.mini:hover{
    color: #a52a34;
}
.service p{
    font-size: 15px;
    color:var(--text-color);
}
.service p:hover{
    color: azure;
}
.product p{
    font-size: 15px;
    color:var(--text-color);
}
.product p:hover{
    color: azure;
}
.end{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #a52a34;
}
@media (max-width:991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
}
@media (max-width:991px){
    .home-text h1{
        font-size:2rem ;
    }
    .shop-container{
        grid-template-columns: repeat(auto-fit,minmax(218px,auto));
    }
}
@media (max-width:768px){
    header{
        padding: 11px 4%;
    }
    #menu-icon{
        display: initial;

    }
    header .navbar{
        position: absolute;
        top:-500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #f0ffff;
        box-shadow: 0 4px 4px rgb(0 0 0/10%);
        transition: 0.2s ease;
        text-align: center;
    }
}
.navbar a{
    padding: 1.5rem;
    display: block ;
}
.navbar.active{
    top :100%;
}
.navbar a:hover{
    color: var(--main-color);
}
@media (max-width:491px){
    .home-text h1{
        font-size: 1.5rem;
    }
    .shop-container{
        grid-template-columns: repeat(auto-fit,minmax(200px, auto));
    }
    .box .box-img{
        height: 300px;
    }
}